<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Lista de Artistas</h2>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr class="text-center">
          <th>ID</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artista of artistas" class="text-center">
          <td>{{artista.id_artista}}</td>
          <td>{{artista.nombre_artista}}</td>
          <td>{{artista.tipo_artista}}</td>
          <td>
            <button class="btn btn-warning">Editar</button>
            <button class="btn btn-danger" style="margin-left: 10px">Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
